{% extends 'pages/base.html' %}
{% load static %}


{% block content %}
<!--Carousel-->

<div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="{% static 'pictures/children1.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static 'pictures/children2.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static 'pictures/children3.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>


<!--Our Mission-->

    <div>
        <h1 class="text-center mt-5 ">OUR MISSION</h1>

    </div>

    <div class="w-100">
        <div class="row m-0">
            <div class="col-md-4">
            <img src="{% static 'pictures/child.jpg' %}" class="img-text rounded-start" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <p class="card-text lead text-muted">While most children around the world do not have instant access to family, we recognize that it is the best way to address the orphan epidemic. The number of children without permanent homes who will really be available for adoption in the upcoming year is predicted to be about one percent. Due to the fact that these facilities are frequently the only choices available to orphaned children, we feel that our role in the constantly changing field of orphan care is to provide support to orphanages and children's homes.</p>
                <p class="card-text lead text-muted">We locate underprivileged children's homes with great promise all across the world. We support them by providing the initial funding needed to keep their doors open. We help with training programs and continuous financing to improve the quality of care they offer, and we give our partner homes the tools they need to go beyond basic survival and work toward self-sustainability.
            </p>
            </div>
            </div>
        </div>
        </div>
{% endblock %}
