@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Vina+Sans&display=swap');

:root {
  --danger: #711919;
  --warning: #eda031;
}

* {
  box-sizing: border-box;
}

footer {
    padding: 1rem;
    color: white;
    display: block;
    text-align: center;
  }

.carousel-item {
    background-color: #000000;
}
.carousel-item img {
    height: 512px;
    object-fit: cover;
    opacity: 0.75;
    }

.img-text {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.navbar{
  font-size: 1.875rem;
  font-family: 'Archivo Black', sans-serif;
  font-family: 'Vina Sans', sans-serif;
}
